= content_for :page, "press_kit"
%h1= t('band.name.plain')
%h2 About Us
%p
  %span
    %strong.text-uppercase<>
      = t('band.name.plain')
    ,
  (formally Eclipse), is a Journey Tribute Band that captures and recreates
  the spirit, sound and innovation that is the live
  Journey experience. From the angelic vocal styles of Steve Perry to the
  eclectic but yet delicate guitar works of Neal Schon, the keyboard wizardries
  of Greg Rolie and Jonathan Cain combined with the intricate bass and
  percussion work of Ross Valory and Steve Smith.
  %strong.text-uppercase= t('band.name.plain')
  captures the total package that is Journey.
%p
  With a focus on the albums from 1978 through 1996,
  %span
    %strong.text-uppercase<>
      = t('band.name.plain')
    's
  audiences can dance and sing along to all of Journey’s power ballads and chart
  topping hits. Guests at this concert should expect a lot of high-energy fun and
  maybe even a few surprises!
%p
  Audiences will absolutely find themselves dancing and singing the power
  ballads and high energy songs from Journey’s chart topping hits. If you love
  Journey, you will not want to miss
  %span
    %strong.text-uppercase<>
      = t('band.name.plain')
    's
  high energy show. The music of Journey has an enduring appeal that reaches
  fans world-wide. Let
  %strong.text-uppercase= t('band.name.plain')
  bring it to you.
%p
  Book your next concert, corporate event, festival, private party, or club now with
  %span
    %strong.text-uppercase<>
      = t('band.name.plain')
    !
%h2 The Band
%ul.list-unstyled
  %li
    %p
      %h3 Amanda V - Vocals
      Amanda started singing and performing live at the age of 8 and has
      studied voice throughout her career, including studying jazz and opera
      in college. She is currently finishing her vocal performance degree at
      the University of Colorado at Denver.  Her early vocal influences were
      Ann Wilson, Pat Benetar, Gladys Knight, Diane Schurr and Patti LaBelle.
      She has been performing in the Denver metro area since 1991, with
      various bands such as The Miles Apart Band, Millennium, Boogie Machine,
      Naked Lunch, Pharaohs of Funk, and Hip Pocket.  She also enjoys
      freelancing with bands that need a last minute vocalist.
  %li
    %p
      %h3 Michael Miller - Keyboards
      Michael began playing the piano at the age of eight and never stopped
      including music in his life. He earned a BME in Music from Southwestern
      Oklahoma State University and took his talents into the Oklahoma school
      system where he educated students for our future entertainment. Michael
      had the privilege to work with world renowned Jazz artists such as Dianna
      Reeves, Clark Terry, Urbie Green, Michelle Becham and Steve Wilkerson. He
      continued on with his music career working with top Denver entertainment
      projects including, Rhythm Alliance, VIP, Backstreet, Mystery, Kan’t Get
      Right, Ripp Griffen & Bump City Groove.
  %li
    %p
      %h3 David Madouros - Guitar
      After graduating from Musician's Institute in 1994, David played in
      several successful bands in Southern California (Open Focus, Strange Dayz,
      Wire, Blendzol). During his tenure in SoCal, David's band played with well
      known acts including: L.A. Guns, Slaughter, Black and Blue, and Bang Tango
      as well as members from acts including: White Lion, Tesla, KISS, and Steel
      Panther. In 2005, David returned to his home state, Colorado, and went
      into semi-retirement until he received a call from an old friend in the
      spring of 2011. David came out of retirement and the rest is history...
  %li
    %p
      %h3 Gabe Steele - Bass
      Coming Soon!
  %li
    %p
      %h3 Rich Guess - Drums
      After completing a Bachelors of Music in Percussion, it was decided that
      the thing to do was hit the road. Touring with the Midwest’s Deaconaires
      he played shows with the likes of The Fabulous Thunderbirds, Roomful of
      Blues, Johnny Reno, Little Charlie and the Nightcats, and countless
      regional bands. Now with a good sense of groove pounded into his hands and
      feet, he was ready to take on the rock and roll monster. Over the next two
      years, he was touring from sea to shining sea, playing 260 shows a year,
      logging his time in the drum seat, developing a style that blended the
      blues of the past with the edge of the new. Next was a 5-year stint in the
      Dallas area, where he recorded 2 albums with the band DVinity, always
      pushing to expand his musical range. Upon arrival in Denver, Rich joined
      the Freddi-Henchi Band in 1999. Bringing power and precision to the
      dynamic FHB groove, blending in all of the styles of the past, the groove
      to make your booty move was prominent throughout the land. If you listen
      closely, you will hear influences of Chris Layton, Vinnie Paul,
      Dave Weckl, Peter Criss, and every single music teacher he ever took
      lessons from, all mixed up into one package. Other notable acts in the
      area that Rich has performed with include Hazel Miller, Soul School,
      The Sheryl Renee Band, Mother Lode, and Hip Pocket.
%h2 Set List
%table
  %tr
    %td
      %ul
        %li After The Fall
        %li Any Way You Want It
        %li Anytime
        %li Ask The Lonely
        %li Be Good To Yourself
        %li Chain Reaction
        %li Don't Stop Believin'
        %li Edge Of The Blade
        %li Escape
        %li Faithfully
        %li Feelin' That Way
        %li Girl Can't Help It
        %li I'll Be Alright Without You
        %li Just The Same Way
        %li Keep On Runnin'
        %li Lights
    %td
      %ul
        %li Line of Fire
        %li Lovin', Touchin', Squeezin'
        %li Majestic
        %li Mother, Father
        %li Only the Young
        %li Open Arms
        %li Send Her My Love
        %li Separate Ways
        %li Stay Awhile
        %li Still They Ride
        %li Stone In Love
        %li The Party's Over
        %li Wheel In The Sky
        %li Where Were You
        %li Who's Cryin' Now
%h2 Stage Plots
%h3
  With In-Ear Monitor
  %small
    (click
    %a{href: image_url('Journey Thru Time-With In-Ear Monitor.jpg'), target: '_blank'}
      here
    to open in new window)

%img= image_tag('stage_plots/Journey Thru Time-With In-Ear Monitor.jpg', width: 750)

%h3
  Without In-Ear Monitor
  %small
    (click
    %a{href: image_url('Journey Thru Time-Without In Ear Monitor.jpg'), target: '_blank'}
      here
    to open in new window)
%img= image_tag('stage_plots/Journey Thru Time-Without In Ear Monitor.jpg', width: 750)

%p
  Click
  %a{href: "#{root_url}epk.pdf", target: '_blank'}
    here
  for a printable EPK
%p
  For contact information, please email Michael Miller at
  %a{href: 'mailto:info@journeythrutime.com'}
    info@journeythrutime.com
