%h1= t('band.name.plain')
%p
  %strong.text-uppercase= t('band.name.plain')
  captures and recreates the spirit, sound and innovation that is the live
  Journey experience. From the angelic vocal styles of Steve Perry to the
  eclectic but yet delicate guitar works of Neal Schon, the keyboard
  wizardries of Greg Rolie and Jonathan Cain combined with the intricate
  bass and percussion work of Ross Valory and Steve Smith.
  %strong= t('band.name.emphasis')
  captures the total package that is Journey.

%p
  With a focus on the albums from 1978 through 1996,
  %span
    %strong.text-uppercase<>
      = t('band.name.plain')
    's
  audiences can dance and sing along to all of Journey’s power ballads and
  chart topping hits. The music of Journey has an enduring appeal that
  appeals to fans of all ages. Guests at this concert should expect a
  lot of high-energy fun and maybe even a few surprises!

%p
  Audiences will absolutely find themselves dancing and singing the power
  ballads and high energy songs from Journey’s chart topping hits. If you
  love Journey, you will not want to miss
  %span
    %strong.text-uppercase<>
      = t('band.name.plain')
    's
  high energy show. The music of Journey has an enduring appeal that
  reaches fans world-wide. Let
  %strong.text-uppercase= t('band.name.plain')
  bring it to you.

%p
  %strong.text-uppercase= t('band.name.plain')
  is:
  %dl.dl-horizontal
    %dt Amanda V
    %dd Vocals
    %dt Michael Miller
    %dd Keyboards
    %dt David Madouros
    %dd Guitar
    %dt James Dikes
    %dd Bass
    %dt Rich Guess
    %dd Drums
.jumbotron
  %h2
    Want more
    %span
      %strong.text-uppercase<>
        = t('band.name.plain')
      ?
  %p
    Book
    %strong.text-uppercase= t('band.name.plain')
    for your next concert, corporate event, festival, private party, or club
    now!
  %a.btn.btn-primary{href: '#', role: 'button'}
    Learn More