= content_for :page, "media"

%h1 Media
%h2 Set List
%table
  %tr
    %td
      %ul
        %li After The Fall
        %li Any Way You Want It
        %li Anytime
        %li Ask The Lonely
        %li Be Good To Yourself
        %li Chain Reaction
        %li Don't Stop Believin'
        %li Edge Of The Blade
        %li Escape
        %li Faithfully
        %li Feelin' That Way
    %td
      %ul
        %li Girl Can't Help It
        %li I'll Be Alright Without You
        %li Just The Same Way
        %li Keep On Runnin'
        %li Lights
        %li Line of Fire
        %li Lovin', Touchin', Squeezin'
        %li Majestic
        %li Mother, Father
        %li Only the Young
    %td
      %ul
        %li Open Arms
        %li Send Her My Love
        %li Separate Ways
        %li Stay Awhile
        %li Still They Ride
        %li Stone In Love
        %li The Party's Over
        %li Wheel In The Sky
        %li Where Were You
        %li Who's Cryin' Now

%h2 Photos

%h3 Leftapalooza (2015)
.photos
  .row
    .col-md-12
      = image_tag("shows/leftapalooza_2015/IMG_1316.JPG", class: 'img-responsive')
  .row
    .col-md-6
      = image_tag("shows/leftapalooza_2015/IMG_1319.JPG", class: 'img-responsive')
    .col-md-6
      = image_tag("shows/leftapalooza_2015/IMG_1321.JPG", class: 'img-responsive')
  .row
    .col-md-6
      = image_tag("shows/leftapalooza_2015/IMG_1332.JPG", class: 'img-responsive')
    .col-md-6
      = image_tag("shows/leftapalooza_2015/IMG_1336.JPG", class: 'img-responsive')

-#%h3 Highlands Ranch Summer Concert Series

-#%h3 Parker Days

%h3 The Boulder Theater (2014)
.photos
  .row
    .col-md-6
      = image_tag("shows/boulder_theater/J1.jpg", class: 'img-responsive')
    .col-md-6
      = image_tag("shows/boulder_theater/Band2.jpg", class: 'img-responsive')
      = image_tag("shows/boulder_theater/M2.jpg", class: 'img-responsive')
  .row
    .col-md-6
      = image_tag("shows/boulder_theater/M1.jpg", class: 'img-responsive')
      = image_tag("shows/boulder_theater/Band5.jpg", class: 'img-responsive')
    .col-md-6
      = image_tag("shows/boulder_theater/DD2.jpg", class: 'img-responsive')
  .row
    .col-md-6
      = image_tag("shows/boulder_theater/DD6.jpg", class: 'img-responsive')
    .col-md-6
      = image_tag("shows/boulder_theater/J2.jpg", class: 'img-responsive')

%h3 Leftapalooza (2013)
.photos
  .row
    .col-md-12
      = image_tag("shows/leftapalooza_2013/578963.jpg", class: 'img-responsive')
  .row
    .col-md-6
      = image_tag("shows/leftapalooza_2013/971593.jpg", class: 'img-responsive')
    .col-md-6
      = image_tag("shows/leftapalooza_2013/1176330.jpg", class: 'img-responsive')
  .row
    .col-md-6
      = image_tag("shows/leftapalooza_2013/1175433.jpg", class: 'img-responsive')
    .col-md-6
      = image_tag("shows/leftapalooza_2013/1150195.jpg", class: 'img-responsive')
  .row
    .col-md-12
      = image_tag("shows/leftapalooza_2013/935879.jpg", class: 'img-responsive')

%h3 Lakewood Summer Concert Series (2013)
.photos
  .row
    .col-md-12
      = image_tag("shows/lakewood/IMG_0423.jpg", class: 'img-responsive')
  .row
    .col-md-6
      = image_tag("shows/lakewood/IMG_0417.jpg", class: 'img-responsive')
    .col-md-6
      = image_tag("shows/lakewood/IMG_0425.jpg", class: 'img-responsive')

%h3 Highlands Ranch 4th of July Celebration (2013)
.photos
  .row
    .col-md-12
      = image_tag("shows/july_4/IMG_0275.JPG", class: 'img-responsive')
  .row
    .col-md-6
      = image_tag("shows/july_4/IMG_0285.JPG", class: 'img-responsive')
    .col-md-6
      = image_tag("shows/july_4/IMG_0286.JPG", class: 'img-responsive')
  .row
    .col-md-6
      = image_tag("shows/july_4/IMG_0293.JPG", class: 'img-responsive')
    .col-md-6
      = image_tag("shows/july_4/IMG_0277.JPG", class: 'img-responsive')

%h3 The D-Note (2013)
.photos
  .row
    .col-md-12
      = image_tag("shows/d_note/058eclipse041913.jpg", class: 'img-responsive')
  .row
    .col-md-6
      = image_tag("shows/d_note/037eclipse041913.jpg", class: 'img-responsive')
    .col-md-6
      = image_tag("shows/d_note/082eclipse042013.jpg", class: 'img-responsive')
      = image_tag("shows/d_note/107eclipse042013.jpg", class: 'img-responsive')
  .row
    .col-md-6
      = image_tag("shows/d_note/019eclipse041913.jpg", class: 'img-responsive')
    .col-md-6
      = image_tag("shows/d_note/001eclipse041913.jpg", class: 'img-responsive')


%h2 Videos
%ul.list-inline
  %li.thumbnail
    <iframe width="750" height="562" src="https://www.youtube.com/embed/tHrnY4mporo" frameborder="0" allowfullscreen></iframe>
  %li.thumbnail
    <iframe width="750" height="562" src="https://www.youtube.com/embed/ha-AbNM79Nw" frameborder="0" allowfullscreen></iframe>
  %li.thumbnail
    <iframe width="750" height="562" src="https://www.youtube.com/embed/y4QpQNoMHls" frameborder="0" allowfullscreen></iframe>
