%h1 Journey: The Music
%ul.list-inline
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#journey'}= image_tag('journey.jpg')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#lookintothefuture'}= image_tag('lookintothefuture.jpg')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#next'}= image_tag('next.jpg')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#infinity'}= image_tag('infinity.jpg')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#evolution'}= image_tag('evolution.jpg')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#departure'}= image_tag('departure.jpg')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#dreamafterdream'}= image_tag('dreamafterdream.jpg')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#escape'}= image_tag('escape.jpg')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#frontiers'}= image_tag('frontiers.jpg')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#raisedonradio'}= image_tag('raisedonradio.jpg')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#trialbyfire'}= image_tag('trialbyfire.jpg')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#arrival'}= image_tag('arrival.jpg')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#red13'}= image_tag('red13.jpg')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#generation'}= image_tag('generation.jpg')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#revelation'}= image_tag('revelation.jpg')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#eclipse'}= image_tag('eclipse.jpg')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#captured'}= image_tag('captured.jpg')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#greatesthitslive'}= image_tag('greatesthitslive.jpg')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#liveinhouston'}= image_tag('liveinhouston.jpg')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#greatesthits1'}= image_tag('greatesthits1.jpg')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#time3'}= image_tag('time3.jpg')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#essential'}= image_tag('essential.jpg')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#greatesthits2'}= image_tag('greatesthits2.jpg')
%ul.list-inline
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#arrival2001'}= image_tag('arrival2001.JPG')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#liveinmaniladvd'}= image_tag('liveinmaniladvd.jpg')
