= content_for :page, "music"
%h1 Journey: The Music
%h2
  The Albumns
  %span{style: 'text-align: superscript'}<>
    *
%ul.list-inline
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#journey'}= image_tag('journey.jpg')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#lookintothefuture'}= image_tag('lookintothefuture.jpg')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#next'}= image_tag('next.jpg')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#infinity'}= image_tag('infinity.jpg')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#evolution'}= image_tag('evolution.jpg')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#departure'}= image_tag('departure.jpg')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#dreamafterdream'}= image_tag('dreamafterdream.jpg')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#escape'}= image_tag('escape.jpg')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#frontiers'}= image_tag('frontiers.jpg')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#raisedonradio'}= image_tag('raisedonradio.jpg')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#trialbyfire'}= image_tag('trialbyfire.jpg')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#arrival'}= image_tag('arrival.jpg')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#red13'}= image_tag('red13.jpg')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#generation'}= image_tag('generation.jpg')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#revelation'}= image_tag('revelation.jpg')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#eclipse'}= image_tag('eclipse.jpg')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#captured'}= image_tag('captured.jpg')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#greatesthitslive'}= image_tag('greatesthitslive.jpg')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#liveinhouston'}= image_tag('liveinhouston.jpg')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#greatesthits1'}= image_tag('greatesthits1.jpg')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#time3'}= image_tag('time3.jpg')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#essential'}= image_tag('essential.jpg')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#greatesthits2'}= image_tag('greatesthits2.jpg')
%ul.list-inline
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#arrival2001'}= image_tag('arrival2001.JPG')
  %li
    %a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => '#liveinmaniladvd'}= image_tag('liveinmaniladvd.jpg')

%h2
  Billboard Albums Chart Positions
  %span{style: 'text-align: superscript'}<>
    **
%ul
  %li Escape #1
  %li Frontiers #2
  %li Trail by Fire #3
  %li Raised On Radio #4
  %li Revelation #5
  %li Departure #8
  %li Greatest Hits #8
  %li Captured #9
  %li Evolution #20
  %li Infinity #21
  %li Next #85
  %li Look Into The Future #100
  %li Journey #138
  %li In The Beginning #152

%h2
  Billboard Single Chart Positions
  %span{style: 'text-align: superscript'}<>
    **
%ul
  %li Open Arms #2
  %li Who’s Cryin’ Now #4
  %li Separate Ways #8
  %li Don’t Stop Believin’ #9
  %li Be Good To Yourself #9
  %li Only the Young #9
  %li Faithfully #12
  %li When You Love a Woman #12
  %li I’ll Be Alright Without You #14
  %li Lovin’, Touchin’, Squeezin’ #16
  %li Girl Can’t Help It #17
  %li Suzanne #17
  %li Message of Love #18
  %li Still They Ride #19
  %li Any Way You Want It #23
  %li Send Her My Love #23
  %li After The Fall #23
  %li Walks like A Lady #32
  %li Can't Tame the Lion #33
  %li The Party’s Over #34
  %li If He Should Break Your Heart #38
  %li Good Morning Girl/Stay Awhile #55
  %li Wheel in the Sky #57
  %li Just the Same Way #58
  %li Why Can’t This Night Go On Forever #60
  %li Lights #68
  %li Anytime #83
  %li Too Late #7

%h2
  The Hits
  %span{style: 'text-align: superscript'}<>
    **
.song
  .song-title FEELING THAT WAY
  .song-writers (S. Perry-G. Rolie-A. Dunbar) From "Infinity"
  .song.description
    Journey often reworked ideas in recordings until the band was satisfied with
    the results before committing them to vinyl. "Velvet Curtain" was an early
    instrumental that stayed on the shelf until Rolie took it down and sculpted
    the track into a song entitled "Let Me Stay," which was almost included on
    the "Next" album and only pulled off at the last moment. When Perry came
    onboard, he rewrote the track again, adding a fresh chorus, and shared lead
    vocals with Rolie on the version that finally made it to record and the
    concert stage repertoire.

.song
  .song-title ANYTIME
  .song-writers (G. Rolie-R. Silver-R. Fleischman-N. Schon-R. Valory) From "Infinity"
  .song.description
    Neal Schon wrote the chorus lyrics: "Gregg Rolie was doing Bing Crosby -
    you know, 'ooh, ooh.' And I'd listened to lots of Beatles records when I
    was a kid, so I just went 'Anytime that you want me.' It came out real easy
    in rehearsal." Rolie supplied the lead vocals. The second single from
    "Infinity" rose to #83 on the charts.

.song
  .song-title PATIENTLY
  .song-writers (S. Perry-N. Schon) From "Infinity"
  .song.description
    The first song with the band he put together in less than an hour in a hotel
    room in Denver, with Schon playing acoustic guitar. "It was really about
    the determination of me wanting to get next to those players," said Perry.

.song
  .song-title GOOD TIMES
  .song-writers (Sam Cooke) Previously Unreleased
  .song.description
    Steve Perry's vocal style always reflected a deep respect for the late,
    great Sam Cooke, whose 1964 hit title "Good Times" Perry chose to sing on a
    1978 "King Biscuit Flower Hour." With the Tower of Power horn section
    fattening up the sound and vocalists Annie Sampson and Jo Baker of
    Stoneground enriching the vocal blend, Journey never sounded like this on
    any other occasion.

.song
  .song-title MAJESTIC
  .song-writers (N. Schon-S. Perry) From "Evolution"
  .song.description
    Never played by the band live, this instrumental track featuring Schon on
    overdubbed guitars was used as a tape to open concerts. "I was fooling
    around with classical chords," said Schon. "It was a big, theme-ish sound
    thing I always thought would end up being a vocal song."

.song
  .song-title TOO LATE
  .song-writers (S. Perry-N. Schon) From "Evolution"
  .song.description
    Perry wrote this song about a friend from his hometown, a drug addict he
    wanted to warn to leave town before he ran out of options. "The drugs were
    setting up housekeeping," said Perry. The friend eventually heard the tune
    and Perry told him what it was about.

.song
  .song-title SWEET AND SIMPLE
  .song-writers (S. Perry) From "Evolution"
  .song.description
    Perry wrote this song five years before joining Journey while contemplating
    the beauty of Lake Tahoe.

.song
  .song-title JUST THE SAME WAY
  .song-writers (G. Rolie-N. Schon-R. Valory) From "Evolution"
  .song.description
    That was just a piano riff that developed," said Rolie. The leadoff single
    from the "Evolution" album reached #58 on the charts.

.song
  .song-title LITTLE GIRL
  .song-writers (N. Schon-S. Perry-G. Rolie) From "Dream After Dream"
  .song.description
    A vocal number from the Japanese sessions that produced the 1980 soundtrack
    album for "Dream After Dream." "It was the most Journeyesque number on the
    album," said Rolie. "I almost wish we had saved it for one of our albums."
    Originally only available in the U.S. as a Japanese import,
    "Dream After Dream" was later released in the States.

.song
  .song-title ANY WAY YOU WANT IT
  .song-writers (S. Perry-N. Schon) From "Departure"
  .song.description
    Perry and Schon unveiled this number on the band bus, Schon strumming on
    acoustic and Perry singing. "It was pretty obvious it could be done real
    quick," said Rolie. In the studio, Rolie tried a mellotron on the number
    and the instrument proved defective. Co-producer Geoff Workman managed to
    correct the sound somewhat and, once doubled with Rolie's regular organ, the
    combination created a unique sound which, coupled with the stacked
    background vocals, gave the song a kind of celestial ring. A concert
    favorite, the song ended up playing behind Rodney Dangerfield on the golf
    course in "Caddyshack."

.song
  .song-title SOMEDAY SOON
  .song-writers (S. Perry-G. Rolie-N. Schon) From "Departure"
  .song.description
    "We got a letter from some college saying they used this song in a music
    composition class as an example of good writing structure," said Rolie.
    "I was amazed."

.song
  .song-title GOOD MORNING GIRL
  .song-writers (S. Perry-N. Schon) From "Departure"
  .song.description
    With some arranging help from Neal's father, Schon and Perry built this
    short little piece from playing around with Jazz and classical chords.

.song
  .song-title WHERE WERE YOU
  .song-writers (S. Perry-N. Schon) From "Departure"
  .song.description
    Perry remembered the song evolving from a jam at the Oakland rehearsal hall
    around a Steve Smith drum figure. The band had recently returned from
    touring with AC/DC as an opening act. "You can't help being influenced by a
    band like that," Schon said. The song served as the opening number to many
    Journey concerts.

.song
  .song-title LINE OF FIRE
  .song-writers (S. Perry-N. Schon) From "Departure"
  .song.description
    Inspired by the sound effect that opened the Junior Walker hit, Steve Perry
    wanted to include a shotgun blast on top of this Schon-driven rocker, an
    incidental touch that consumed considerable studio time to accomplish in
    the end.

.song
  .song-title HOMEMADE LOVE
  .song-writers (S. Perry-N. Schon-S. Smith) From "Departure"
  .song.description
    A throwback to the early Journey, this demanding piece employed an unusual
    kind of shuffle rhythm for Journey. Schon fashioned the music along classic
    hard rock lines and a dense sound protruded somewhat from the overall
    sleeker tone of "Departure." "It was more of a musician's tune," allowed
    Rolie, "fun to play because musically it was so intriguing."

.song
  .song-title NATURAL THING
  .song-writers (S. Perry-R. Valory) The B-side of the single "Don't Stop Believin'"
  .song.description
    Perry wrote this ode to the girl in blue jeans for the "Departure" album.
    Schon thinks of the number as an example of the "cool r&b roots of Perry,"
    who rides producer Roy Thomas Baker's wall of vocal harmonies with supple
    grace.

.song
  .song-title LIGHTS
  .song-writers (S. Perry-N. Schon) From "Captured"
  .song.description
    Perry brought this song into the group with him. He originally wrote the
    chorus while he was living in Los Angeles and trying to get signed to a
    major record label. Schon finished it up with him downstairs at Rolie's
    house on acoustic guitar and the original single off the "Infinity" album
    rose to #68 in Billboard.

.song
  .song-title STAY AWHILE
  .song-writers (S. Perry-N. Schon) From "Captured"
  .song.description
    Perry called this song originally recorded on "Departure," a "testimony for
    simple r&b," although the piece really showcased his rapidly developing
    vocal style.

.song
  .song-title WALKS LIKE A LADY
  .song-writers (S. Perry) From "Captured"
  .song.description
    Originally recorded on "Departure," this Perry idea Schon pumped full of big
    guitar with a small amp on one take, a crisp, clean Stratocaster sound he
    thinks of as blues. Smith added the brush touch on drums. Rolie heard the
    drummer goofing around on the Hammond B-3 and used some of his ideas when
    laying down this, one of his favorite organ parts.

.song
  .song-title LOVIN', TOUCHIN', SQUEEZIN'
  .song-writers (S. Perry) From "Captured"
  .song.description
    The studio version, recorded for "Evolution," became the breakthrough single
    that landed Journey in the Top 20 for the first time, although the band long
    before had established itself as a concert headliner. "A true story," said
    Perry. He watched through the window as his girlfriend at the time got out
    of a Corvette and gave the driver a long, loving kiss goodbye. He calls
    this song "love justice."

.song
  .song-title DIXIE HIGHWAY
  .song-writers (S. Perry-N. Schon) From "Captured"
  .song.description
    Written on the band bus on the way to Detroit via the famous Dixie Highway,
    Perry liked the sound of the words and bluesman Schon liked the shuffle
    groove. Rolie used a Prophet keyboard with a descending twist and the song
    slowly emerged from jams on the road.

.song
  .song-title WHEEL IN THE SKY
  .song-writers (N. Schon-R. Fleischman-D. Valory) From "Captured"
  .song.description
    The track from "Infinity" put Journey on the radio for the first time and
    justified the band's gamble going out as headliners of the "Infinity" tour.
    Originally a poem by Diane Valory, wife of bassist Ross Valory, to which
    Robert Fleischman, the band's first vocalist, wrote new lyrics, her initial
    title to the song was "Wheels In My Mind." Schon wrote the melody on
    acoustic guitar in the backseat of a station wagon while the band was
    driving between shows. Perry was given the song when he joined the band.

.song
  .song-title THE PARTY'S OVER (HOPELESSLY IN LOVE)
  .song-writers (S. Perry) From "Captured"
  .song.description
    The only studio recording included in the double-record live album, this
    song was written backstage at Detroit's Cobo Hall by Perry on an electric
    bass and the band played the number at sound check. Keyboardist Tim Gorman
    subbed in the studio on keyboards for Rolie, who left the band at the end of
    the tour. The single version made #34 in Billboard.

.song
  .song-title DON'T STOP BELIEVIN'
  .song-writers (S. Perry-N. Schon) From "Escape"
  .song.description
    At the band's Oakland warehouse, this song bubbled out of a rehearsal. Schon
    developed the bass riff, the chugging guitar line and the sweeping chords on
    the chorus. Steve Smith built the song around a pattern featuring a lot of
    tom-toms, anchoring the number to a rich drum figure. Perry and Cain drew
    from their experiences with the Sunset Strip street scene for the lyrics,
    "streetlight people." A Journey songbook cornerstone, the second single from
    "Escape" hit #9 on the charts.

.song
  .song-title STONE IN LOVE
  .song-writers (S. Perry-N. Schon-J. Cain) From "Escape"
  .song.description
    During a party at his San Rafael house, Neal Schon started fooling around
    with his guitar and a tape recorder. When he listened back the next day, he
    found the beginning of a song which he titled, "Stone In Love." Perry and
    Cain polished it into this gem. "Jonathan Cain is such a great lyricist,"
    said Perry, "he helped me go to another place as a writer."

.song
  .song-title KEEP ON RUNNIN'
  .song-writers (S. Perry-N. Schon-J. Cain) From "Escape"
  .song.description "Neal wanted to rock," Perry said. "So we did."

.song
  .song-title WHO'S CRYIN' NOW
  .song-writers (S. Perry-J. Cain) From "Escape"
  .song.description
    The first taste of "Escape" most people heard eventually sailed all the way
    to #4 on the Billboard charts. Perry wrote the chorus of the song driving
    from Bakersfield to San Francisco, singing into a cassette recorder. He went
    to Cain's house, rain pouring down in sheets outside, with the whole song in
    his head. He hummed the song to Cain and guided him through the piano part.
    Cain suggested the tune sounded like "a somebody done somebody wrong song"
    and said "Who's crying now?" The pair finished the song that afternoon.

.song
  .song-title STILL THEY RIDE
  .song-writers (S. Perry-N. Schon) From "Escape"
  .song.description
    A vignette from Perry's youth, the same Central Valley scene that inspired
    another San Joaquin Valley escapee, George Lucas, to make the film
    "American Graffiti," the Journey version eventually turned into the fourth
    "Escape" single, released almost a year after the album first came out, and
    went to #19.

.song
  .song-title OPEN ARMS
  .song-writers (S. Perry-J. Cain) From "Escape"
  .song.description
    Jonathan Cain came to Journey with this melody already written. It could
    have been a song for the Babys, his previous band, except that Babys
    vocalist John Waite rejected the melody as "too syrupy." He sheepishly
    showed the tune to Perry on his portable Wurlitzer keyboard and Perry
    immediately wanted to do it. The rest of the band wasn't so sure. "They were
    opposed to the ballad," said Perry. "Neal hated the idea and Jon Cain
    thought maybe John Waite was right." The third single from "Escape" not only
    went on to become the band's highest charting single, reaching #2, and sent
    album sales into orbit, but pioneered the entire concept of the power
    ballad. "Now everybody's got to have one," said Perry.

.song
  .song-title MOTHER, FATHER
  .song-writers (N. Schon-S. Perry-J. Cain-M. Schon) From "Escape"
  .song.description
    A Composite of two tapes, one by Neal Schon and one by Steve Perry, this
    dramatic piece, with the first interlude written by Neal Schon's father, was
    later completed by Cain and Perry.

.song
  .song-title LA RAZA DEL SOL
  .song-writers (S. Perry-J. Cain) B-side of the single "Still They Ride"
  .song.description (Previously unreleased Alternate Version)
  .song.description
    Cain took the title from a book about farmworkers he was reading and offered
    his own thoughts on the contributions of Hispanics to the building of
    California, a subject Perry knew intimately from growing up in Central
    Valley. Schon found no problem wrapping this piece in appropriate sonics by
    simply dipping into his own background with Santana on a number that slipped
    by unnoticed on the back of the fourth single from the "Escape" album.

.song
  .song-title ONLY SOLUTIONS
  .song-writers (J. Cain-N. Schon-S. Perry) From "Tron" soundtrack
  .song.description
    Cain and Schon began work on this piece for the 1982 Walt Disney movie
    "Tron" in Los Angeles at Goodnight L.A. Studios and later moved to Fantasy
    Studios in Berkeley. Perry rewrote the verse and Steve Smith overdubbed his
    drums after the song was finished. Cain supervised the production. "If it
    sounds like something we made up on the spot in the studio," said Schon,
    "that's because it is." The song ended up almost inaudible underneath video
    game noise on the film's final mix. The track received some regional radio
    airplay in Florida and other isolated areas, but has largely remained
    unknown.

.song
  .song-title LIBERTY
  .song-writers (N. Schon-S. Perry-J. Cain) Previously Unreleased
  .song.description
    Jonathan Cain made a habit of running a tape recorder during rehearsals,
    even breaks, and would listen to the tapes on his way home &mdash; "just to make
    sure we weren't missing something." During pre-production sessions for
    "Frontiers," he caught Neal Schon during one of those breaks in a rock
    countryside vein. Perry & Cain contributed the patriotically themed lyrics
    and Perry cut the vocal live in the studio, although the results somehow
    never managed to wind up on the album.

.song
  .song-title SEPARATE WAYS (WORLDS APART)
  .song-writers (S. Perry-J. Cain) From "Frontiers"
  .song.description
    The road took its toll on the band member's home lives. With Neal Schon and
    Ross Valory going through painful &mdash; and expensive &mdash; divorces,
    Perry and Cain thought there should be some way to dredge something positive
    out of such circumstances. "There's got to be a more soulful way of looking
    at this," Perry told his collaborator, Cain. The pair worked out the tune in
    a hotel room using Cain's little Casio keyboard and the entire band worked
    up the fresh song the next afternoon at sound check inserting the
    partly-finished song into the program that night. "I think he mumbled his
    way through half the lyrics," said Cain, "but the audience just came
    unglued." The song was sitting in the band's pocket long before the
    beginning of sessions for the next album. The first single off "Frontiers"
    zoomed up the charts to #8 immediately on release in February 1983.

.song
  .song-title SEND HER MY LOVE
  .song-writers (S. Perry-J. Cain) From "Frontiers"
  .song.description
    During the band's three-month vacation following the "Escape" tours, Cain
    listened to a lot of Beatles records. He played the chords for this song on
    the piano in his front room one afternoon for Perry. "He could magically
    weave a melody over anything I could play," Cain said. Eventually released
    as the fourth single off "Frontiers," this Perry personal favorite made #23
    on Billboard.

.song
  .song-title FAITHFULLY
  .song-writers (J. Cain) From "Frontiers"
  .song.description
    Cain wrote this ballad on the road. A portrait of his life on tour, he paid
    tribute to road manager Pat Morrow and stage manager Benny Collins when he
    wrote "we all need the clowns to make us smile." He told me he got the
    melody out of a dream," said Neal Schon. "I wish something like that would
    happen to me." "Basically it's a road song," Cain said. "You know I'm being
    a good dog out here &mdash; don't worry about it." The trademark power
    ballad and second single from "Frontiers" climbed to #12 on the charts.

.song
  .song-title AFTER THE FALL
  .song-writers (S. Perry-J. Cain) From "Frontiers"
  .song.description
    Steve Perry wrote this love song with the sweeping Journeyesque chorus on
    the bass, the instrument he most commonly used in composing. The band hardly
    ever played the song live, but the track did wind up in the background of a
    party scene in the film "Risky Business."

.song
  .song-title ALL THAT REALLY MATTERS
  .song-writers (N. Schon-J. Cain) Previously Unreleased
  .song.description
    With Jon Cain on lead vocals, this "Frontiers" outtake barely sounded like
    Journey, so strongly is the Perry vocal style associated with the band.
    Recording the song gave Cain an opportunity to express some of the turmoil
    he was experiencing in his personal life at the time. "Neal helped a lot,"
    Cain said, "he and Steve Smith. They gave me a couple of days in the studio.
    It's kind of edgy. It could have been a Babys song."

.song
  .song-title THE EYES OF A WOMAN
  .song-writers (S. Perry-J. Cain-N. Schon) From "Raised On Radio"
  .song.description
    A song that emerged from a jam in the recording studio, the finished
    instrumental track was recorded within a half-hour. "the song sort of wrote
    itself," said Cain. Starting off with a guitar line Schon played
    simultaneously through his amplifier and a keyboard synthesizer, the tune
    merely followed Schon's opening statement, according to Perry, who called
    the song his favorite "Raised On Radio."

.song
  .song-title WHY CAN'T THIS NIGHT GO ON FOREVER
  .song-writers (S. Perry-J. Cain) From "Raised On Radio"
  .song.description
    Cain intended this piece to represent the fans at a Journey concert, always
    one of his favorite subjects. "Just me, being sentimental," he said. The
    final single released by Journey in April 1987 could only manage to eke its
    way up the charts to #60, a year after the release of the album.

.song
  .song-title ONCE YOU LOVE SOMEBODY
  .song-writers (S. Perry-J. Cain-N. Schon) From "Raised On Radio"
  .song.description
    With Perry splitting up with his longtime love and Cain going through a
    divorce of his own, the subject of loss seemed bound to appear in their
    songs at the time. "This was kind of self-therapy," admitted Cain, when
    referring to the song's bluesy mood. "It had those haunting minor chords
    that allowed Steve to do his thing," he said.

.song
  .song-title HAPPY TO GIVE
  .song-writers (S. Perry-J. Cain) From "Raised On Radio"
  .song.description
    Perry cut this number three times. "He was obsessed by that song,"
    remembered Cain. "It was his pet song." Cain also thinks Perry gave the song
    his finest vocal performance. The track came from a "soundtrack-type"
    composition Cain had been working on during the influence of Vangelis that
    Perry nailed with a melody almost immediately on Cain playing it for him.
    "Of course, it was our lives we were writing about," said Cain. Never played
    live by the band, the track turned up years later on the soundtrack to the
    film "North Shore."

.song
  .song-title BE GOOD TO YOURSELF
  .song-writers (S. Perry-J. Cain-N. Schon) From "Raised On Radio"
  .song.description
    With his own domestic situation in disarray and his mother slowly dying,
    Perry needed life affirming messages. "That's a Perry-ism," said Cain,
    "something he'd always say. I circled it in my notes." But the song didn't
    come easy. Cain labored over the lyrics for five months. "Steve never had
    time," Cain said. "He'd just say 'Work on it.'" Finally it came down to the
    day when the song was to be mixed in New York with engineer Bob Clear
    Mountain. While Cain took a shower, the melody formed in his head. He burst
    into the studio, his hair still wet, and Perry knocked off the final vocal
    in less than an hour. Released a month prior to the album as a leadoff
    single, "Be Good To Yourself," probably sounded more like a traditional
    Journey song than anything else on the "Raised On Radio" album and it
    managed to nick the bottom of the Top Ten at #9.

.song
  .song-title ONLY THE YOUNG
  .song-writers (S. Perry-J. Friga-N. Schon) From "Vision Quest" soundtrack
  .song.description
    Originally recorded for the "Frontiers" album and pulled off at the last
    minute, this song finally reached the Top Ten in 1985, hitting #9 when
    released as a single off the Geffen Records soundtrack album. The experience
    of playing the song to 16-year old Kenny Sykaluk the night before he died
    left Perry deeply affected ("As soon as I stepped out of that hospital room
    I lost it," said Perry. "Nurses had to take me to a room by myself.") and he
    used it as the concert opener throughout the "Raised On Radio" tour.

.song
  .song-title ASK THE LONELY
  .song-writers (S. Perry-J. Cain) From "Two Of A Kind" soundtrack
  .song.description
    The other track pulled off "Frontiers" after the album had already been
    sequenced, this song received a fair amount of radio airplay once it was
    released on the soundtrack album. "It's just a love song," said Perry. "The
    guy can write love songs in his sleep," said Cain.

.song
  .song-title WITH A TEAR
  .song-writers (N. Schon-S. Perry-J. Cain) Previously Unreleased
  .song.description
    This Journey song was never finished. In August 1992, Cain and Schon
    returned to the studio with this "Raised On Radio" reject and polished the
    track into a completed instrumental.

.song
  .song-title INTO YOUR ARMS
  .song-writers (N. Schon-S. Perry-J. Cain) Previously Unreleased
  .song.description
    The "Raised On Radio" sessions left a lot of tape on the cutting room floor.
    "We'd write a bunch of things," said Cain, "and then find our way. It took
    awhile to get our songwriting muscle back." The track was left unfinished
    until August 1992, when Neal Schon and Jon Cain took the tape back to the
    studio and completed this version as an instrumental.

.song
  .song-title GIRL CAN'T HELP IT (LIVE)
  .song-writers (S. Perry-J. Cain-N. Schon) Previously Unreleased
  .song.description
    With the band committed not to release any conceptual videos to accompany
    singles from "Raised On Radio" &mdash; not to mention too busy to take the
    time while breaking in a new rhythm section before a rapidly looming tour
    &mdash; the best the label and band management could negotiate was a live
    concert segment of the album's third single. On August 23, 1986, with
    drummer Mike Baird taking the stage after a brief three-week rehearsal,
    Journey unveiled the ninth and final edition of the band's onstage roster at
    the Calaveras County Fairgrounds, where the group opened the "Escape" tour
    and introduced new member Jonathan Cain five years earlier. The cameras and
    the recording truck captured the documentary video at the first opportunity,
    undoubtedly only adding to the tension of the occasion of the band's first
    performance in more than three years.

.song
  .song-title I'LL BE ALRIGHT WITHOUT YOU (LIVE)
  .song-writers (S. Perry-J. Cain-N. Schon)
  .song.description
    With another concert video caught further along the "Raised On Radio" route
    in Atlanta, Georgia, "I'll Be Alright Without You" became the fourth single
    from the album. Cain admitted the song was born out of his and Perry's
    ongoing personal traumas. "It's really the other half of
    'Once You Love Somebody,'" he said.

.footnote * From the Journey Website
.footnote
  ** From the Journey
  %span
    Time
    %span.superscript<> 3
  Box Set Booklet
