= content_for :page, "photos"

%h1 Photos

%h3 Leftapalooza (2015)
.photos
  .row
    .col-md-12
      = image_tag("shows/leftapalooza_2015/IMG_1316.JPG", class: 'img-responsive')
  .row
    .col-md-6
      = image_tag("shows/leftapalooza_2015/IMG_1319.JPG", class: 'img-responsive')
    .col-md-6
      = image_tag("shows/leftapalooza_2015/IMG_1321.JPG", class: 'img-responsive')
  .row
    .col-md-6
      = image_tag("shows/leftapalooza_2015/IMG_1332.JPG", class: 'img-responsive')
    .col-md-6
      = image_tag("shows/leftapalooza_2015/IMG_1336.JPG", class: 'img-responsive')

-#%h3 Highlands Ranch Summer Concert Series

-#%h3 Parker Days

%h3 The Boulder Theater (2014)
.photos
  .row
    .col-md-6
      = image_tag("shows/boulder_theater/DD6.jpg", class: 'img-responsive')
    .col-md-6
      = image_tag("shows/boulder_theater/Band2.jpg", class: 'img-responsive')
      = image_tag("shows/boulder_theater/M2.jpg", class: 'img-responsive')
  .row
    .col-md-6
      = image_tag("shows/boulder_theater/M1.jpg", class: 'img-responsive')
      = image_tag("shows/boulder_theater/Band5.jpg", class: 'img-responsive')
    .col-md-6
      = image_tag("shows/boulder_theater/DD2.jpg", class: 'img-responsive')

%h3 Leftapalooza (2013)
.photos
  .row
    .col-md-12
      = image_tag("shows/leftapalooza_2013/578963.jpg", class: 'img-responsive')
  .row
    .col-md-6
      = image_tag("shows/leftapalooza_2013/1176330.jpg", class: 'img-responsive')
    .col-md-6
      = image_tag("shows/leftapalooza_2013/1150195.jpg", class: 'img-responsive')
  .row
    .col-md-12
      = image_tag("shows/leftapalooza_2013/935879.jpg", class: 'img-responsive')

%h3 Lakewood Summer Concert Series (2013)
.photos
  .row
    .col-md-12
      = image_tag("shows/lakewood/IMG_0423.jpg", class: 'img-responsive')
  .row
    .col-md-6
      = image_tag("shows/lakewood/IMG_0417.jpg", class: 'img-responsive')
    .col-md-6
      = image_tag("shows/lakewood/IMG_0425.jpg", class: 'img-responsive')

%h3 Highlands Ranch 4th of July Celebration (2013)
.photos
  .row
    .col-md-12
      = image_tag("shows/july_4/IMG_0275.JPG", class: 'img-responsive')
  .row
    .col-md-6
      = image_tag("shows/july_4/IMG_0285.JPG", class: 'img-responsive')
    .col-md-6
      = image_tag("shows/july_4/IMG_0286.JPG", class: 'img-responsive')
  .row
    .col-md-6
      = image_tag("shows/july_4/IMG_0293.JPG", class: 'img-responsive')
    .col-md-6
      = image_tag("shows/july_4/IMG_0277.JPG", class: 'img-responsive')

%h3 The D-Note (2013)
.photos
  .row
    .col-md-12
      = image_tag("shows/d_note/058eclipse041913.jpg", class: 'img-responsive')
  .row
    .col-md-6
      = image_tag("shows/d_note/082eclipse042013.jpg", class: 'img-responsive')
    .col-md-6
      = image_tag("shows/d_note/107eclipse042013.jpg", class: 'img-responsive')
  .row
    .col-md-6
      = image_tag("shows/d_note/019eclipse041913.jpg", class: 'img-responsive')
    .col-md-6
      = image_tag("shows/d_note/001eclipse041913.jpg", class: 'img-responsive')
