- if @next_show.present?
  .panel.panel-primary
    .panel-heading
      %strong Next Show
    .panel-body
      %span.date
        = @next_show.starts_at.strftime('%A, %B %e, %Y')
      %span.time
        (
        = @next_show.starts_at.strftime('%l:%M %P')
        \-
        = @next_show.ends_at.strftime('%l:%M %P')
        )
      %br
      = next_show_name(@next_show)
      %br
      %div.address_1
        = @next_show.venue.address_1
      %span
        %span.city<>
          = @next_show.venue.city
        ,
      %span.state
        = @next_show.venue.state
      %span.zip-code
        = @next_show.venue.zip_code
      %div.map-link
        %a{href: @next_show.venue.map_link, target: '_blank'}
          Map
          %span.glyphicon.glyphicon-new-window{style: 'font-size: smaller;'}
      %div.phone-number
        = @next_show.venue.phone_number
      %div.web-address
        %a{href: "http://#{@next_show.venue.web_address}", target: '_blank'}
          = @next_show.venue.web_address
          %span.glyphicon.glyphicon-new-window{style: 'font-size: smaller;'}
      %div.notes
        %h5 Additional Notes
        %div= @next_show.notes.html_safe
      %br
      %br
      %a.btn.btn-primary(href="details")
        Details
