%nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-container
      .navbar-header
        %button.navbar-toggle.collapsed{'type' => 'button', 'data-toggle' => 'collapse', 'data-target' => '#main-menu', 'aria-expanded' => false}
          %span.sr-only
            Toggle Navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand.brand{href: root_path}
          = t('band.name.plain')
      #main-menu.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li{class: (yield(:page) == 'home' ? 'active' : '')}
            %a{href: root_path}
              Home
          %li{class: (yield(:page) == 'band' ? 'active' : '')}
            %a{href: band_path}
              The Band
          %li{class: (yield(:page) == 'media' ? 'active' : '')}
            %a{href: media_path}
              Media
          %li{class: (yield(:page) == 'shows' ? 'active' : '')}
            %a{href: calendar_path}
              Calendar
          %li{class: (yield(:page) == 'contact' ? 'active' : '')}
            %a{href: contact_path}
              Contact Us
          %li
            %a{href: 'http://www.cafepress.com/eclipsethemusicofjourney', target: 'new'}
              Merchandise
              %span.glyphicon.glyphicon-new-window{style: 'font-size: smaller;'}
          %li{class: (yield(:page) == 'press_kit' ? 'active' : '')}
            %a{href: epk_path}
              Press Kit
          %li
            .navbar-text
              |
            %li{class: (yield(:page) == 'story' ? 'active' : '')}
              %a{href: story_path}
                Journey: The Story
            %li{class: (yield(:page) == 'music' ? 'active' : '')}
              %a{href: billboard_path}
                Journey: The Music
            %li
              %a{href: 'http://www.journeymusic.com'}
                Journey: Website
                %span.glyphicon.glyphicon-new-window{style: 'font-size: smaller;'}
.container
  .row
    .col-med-12
      #header.carousel.slide{"data-ride" => "carousel"}
        %ol.carousel-indicators
          %li{"data-target" => "#header", "data-slide-to" => "0", class: (['home', 'story', 'music'].include?(yield(:page)) ? 'active' : '')}
          %li{"data-target" => "#header", "data-slide-to" => "1", class: (yield(:page) == 'band' ? 'active' : '')}
          %li{"data-target" => "#header", "data-slide-to" => "2", class: (yield(:page) == 'media' ? 'active' : '')}
          %li{"data-target" => "#header", "data-slide-to" => "3", class: (yield(:page) == 'shows' ? 'active' : '')}
          %li{"data-target" => "#header", "data-slide-to" => "4", class: (yield(:page) == 'contact' ? 'active' : '')}
          %li{"data-target" => "#header", "data-slide-to" => "5", class: (yield(:page) == 'press_kit' ? 'active' : '')}
          %li{"data-target" => "#header", "data-slide-to" => "6"}

        .carousel-inner{"role" => "listbox"}
          .item{class: (['home', 'story', 'music'].include?(yield(:page)) ? 'active' : '')}
            = image_tag('header/1_JTT_Logo.jpg', width: '1170', height: '200')
          .item{class: (yield(:page) == 'band' ? 'active' : '')}
            = image_tag('header/2_JTT_Amanda.jpg', width: '1170', height: '200')
          .item{class: (yield(:page) == 'media' ? 'active' : '')}
            = image_tag('header/3_JTT_Michael.jpg', width: '1170', height: '200')
          .item{class: (yield(:page) == 'shows' ? 'active' : '')}
            = image_tag('header/4_JTT_David.jpg', width: '1170', height: '200')
          .item{class: (yield(:page) == 'contact' ? 'active' : '')}
            = image_tag('header/5_JTT_James.jpg', width: '1170', height: '200')
          .item{class: (yield(:page) == 'press_kit' ? 'active' : '')}
            = image_tag('header/6_JTT_Rich.jpg', width: '1170', height: '200')
          .item
            = image_tag('header/7_JTT_FullBand.jpg', width: '1170', height: '200')

        %a.left.carousel-control{"href" => "#header", "role" => "button", "data-slide" => "prev"}
          %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
          %span.sr-only Previous
        %a.right.carousel-control{"href" => "#header", "role" => "button", "data-slide" => "next"}
          %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
          %span.sr-only Next