.social-media.clearfix
  %ul.list-inline.pull-right
    %li
      %img= image_tag('facebook.png', class: 'img-social-media')
    %li
      %img= image_tag('twitter.png', class: 'img-social-media')
    %li
      %img= image_tag('youtube.png', class: 'img-social-media')
    %li
    %img= image_tag('myspace.png', class: 'img-social-media')
- if @next_show.present?
  .panel.panel-info
    .panel-heading
      %strong Next Show
    .panel-body
      %span.date
        = @next_show.starts_at
      %span.time
        (
        = @next_show.starts_at
        -
        = @next_show.ends_at
        )
      %br
      %strong
        %span.show-name
          = @next_show.name
        (
        %span.venue-name<>
          = @next_show.venue.name
        )
      %br
      %span
        %span.address_1<>
          = @next_show.venue.address_1
        ,
      %span
        %span.city<>
          = @next_show.venue.city
        ,
      %span.state
        = @next_show.venue.state
      %span.zip-code
        = @next_show.venue.zip_code
      %br
      %br
      %a.btn.btn-info
        Details