%h1 Journey Thru Time (Journey Tribute Band)
- @next_show.additional_bands.decorate.each do |additional_band|
  %h2 w/ #{additional_band.name}

%h3= @next_show.date
%ul
  %li
    %h4 #{@next_show.time}: Journey Thru Time
  - @next_show.additional_bands.decorate.each do |additional_band|
    %li
      %h4 #{additional_band.time}: #{additional_band.name}

- if @next_show.notes.present?
  %h3
    Notes
  %p!= @next_show.notes

- if @next_show.cover.present?
  %h3
    Cover
  %p= @next_show.cover
  - if @next_show.online_tickets_link.present?
    %p
      Tickets available online at:
      %a{href: "http://#{@next_show.online_tickets_link}", target: '_blank'}
        = @next_show.online_tickets_link


%h3= @next_show.name
%p
  = @next_show.venue.address_1
  %br
  #{@next_show.venue.city}, #{@next_show.venue.state} #{@next_show.venue.zip_code}
  %br
  = @next_show.venue.phone_number
  %br
  %a{href: "http://#{@next_show.venue.web_address}", target: '_blank'}
    = @next_show.venue.web_address
  %br
  %br
  %iframe{src: "https://www.google.com/maps/embed/v1/place?key=AIzaSyCEYmPJZko2z6jAhl-pDlCTdJe5QcatpqI&q=#{@next_show.venue.google_query}", width: "600", height: "450", frameborder: "0", style: "border:0", allowfullscreen: :allowfullscreen}
