<!DOCTYPE html>
<html>
<head>
  <title>JourneyTribute</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/modals' %>
<div class="container">
  <%= render 'shared/header' %>
  <div class="row">
    <div class="col-md-8">
      <%= yield %>
    </div>
    <div class="col-md-4">
      <%= render 'shared/sidebar' %>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>

</body>
</html>
